/* 
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-size: 14px;
line-height: 1.42857143;
-webkit-font-smoothing: antialiased;
color: #3f3b3b;
font-family: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
font-weight: 400;
box-sizing: border-box;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
width: 33.33333333%;
left: 66.66666667%; */